* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#game-board {
    background: #ccc;
    height: 95vmin;
    width: 100vmin;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}
